{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1>Your Order History</h1>
    {% if orders %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Car</th>
                    <th>Price</th>
                    <th>Date Ordered</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ order.car.title }}</td>
                    <td>${{ order.car.price }}</td>
                    <td>{{ order.date_ordered }}</td>
                    <td>{{ order.car.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>
{% endblock %}
